<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NGANHANG.Properties.Settings.NGANHANGConnectionString"
            connectionString="Data Source=LAPTOP-B60UFJ89\MSSQLSERVER08;Initial Catalog=NGANHANG;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="NGANHANG.Properties.Settings.NGANHANG_BENTHANH" connectionString="Data Source=LAPTOP-B60UFJ89\MSSQLSERVER09;Initial Catalog=NGANHANG;User ID=sa;Password=123456" />
        <add name="NGANHANG.Properties.Settings.NGANHANG_TANDINH" connectionString="Data Source=LAPTOP-B60UFJ89\MSSQLSERVER10;Initial Catalog=NGANHANG;User ID=sa;Password=123456" />
        <add name="NGANHANG.Properties.Settings.NGANHANG_TRACUU" connectionString="Data Source=LAPTOP-B60UFJ89\MSSQLSERVER11;Initial Catalog=NGANHANG;User ID=sa;Password=123456" />
        <add name="NGANHANG.Properties.Settings.NGANHANGConnectionString1"
            connectionString="Data Source=LAPTOP-B60UFJ89\MSSQLSERVER09;Initial Catalog=NGANHANG;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>